<center><img src="public/images/xorro_p2p_logo_blue.png" alt="Xorro P2P Logo"></center>
<p>Xorro P2P is a mini BitTorrent peer-to-peer file sharing network built by software engineers <a href="http://newfishg.github.io/" target="_blank">Ken Chen</a>, <a href="http://davidkurutz.github.io/" target="_blank">David Kurutz</a>, and <a href="http://dmono.github.io/" target="_blank">Terry Lee</a>.</p> 

<p>Due to an interest in P2P networks and distributed systems, we set out to build our own from scratch. The version available today is our alpha release, providing a working proof-of-concept. We want to continue improving upon Xorro &mdash; upcoming features are listed further down this page.</p>
 
<p>This site outlines our journey building Xorro P2P. We hope that readers leave with a better understanding of the P2P problem space.</p>

<figure>
  <img src="public/images/xorro_web_ui.gif" alt="Xorro Web UI">
  <figcaption>The Xorro P2P web UI in action</figcaption>
</figure>