<h2 id="arch">System Architecture</h2>
<p>Our final system architecture looks like this:</p>
<img src="public/images/system_arch.png" alt="">
<p>The top level object is XorroNode, which is a modular Sinatra application</p>
<p>Each XorroNode contains:</p>
<ul>
  <li>
    a single Kademlia Node, responsible for maintaining its own routing table and DHT
  </li>
  <li>A network adapter for initiating RPC calls to other nodes.</li>
  <li>A Sinatra endpoint for receiving RPC from other nodes, web UI, and file transport.</li>
  <li>File Utilities for file ingest, sharding, and manifest creation.</li>
</ul>