<h2 id='dht'>Implementing a Distributed Hash Table</h2>
  <p>Our research uncovered several distributed hash table models to consider for our application: Chord, Pastry, Apache Cassandra, Kademlia... each with their own pros and cons. We ultimately decided on Kademlia due to its prevalence, minimal RPC, automatic spreading of contact information, among other reasons we will outline shortly.  </p>

  <p>Implementation of Kademlia proved to be quite challenging due to the large quantitiy of new concepts: nodes, routing tables, buckets, xor distance, routing algorithms, remote procedure calls… the list seemed endless. There were a few Ruby implementations out there, but we relied only on specifications and white papers because we truly wanted to build out the DHT from scratch.</p>

  <h3>Kademlia</h3>
  <p>A Kademlia network consists of many Nodes.</p>
  <p>Each node:</p>
  <ul>
    <li>Has a unique 160 bit ID.</li>
    <li>Maintains a routing table containing contact information for other nodes.</li>
    <li>Maintains its own segment of the larger distributed hash table.</li>
    <li>Communicates with other nodes via 4 remote procedure calls.</li>
  </ul>

  <p>Each node's routing table is divided into 'buckets' -- each bucket contains contact information for nodes of a specific 'distance' from the current node. We will discuss the concept of distance in more detail shortly.</p>

  <p>Each contact contains the ID, IP address, and port number of the other node.</p>

  <p>Because Xorro is a file sharing application, the DHT segment will contain key/value pairs where each key is a file id, and the corresponding value is the file location.</p>

  <figure>
    <img src="public/images/kademlia_node_structure.png" alt="Kademlia node">
    <figcaption>A node as described in the Kademlia specifications</figcaption>
  </figure>
