<p>Xorro P2P is a mini BitTorrent peer-to-peer file sharing network built by a trio of developers.</p> 
<p>Check out our individual websites:
  <ul>
    <li>Ken Chen</li>
    <li><a href="http://davidkurutz.github.io/" target="_blank">David Kurutz</a></li>
    <li>Terry Lee</li>
  </ul>
</p>
<p>Due to an interest in P2P networks and distributed systems, we set out to build our own from scratch. The version available today is our alpha release, giving us a working proof-of-concept. We want to continue improving upon Xorro and we list upcoming features further down this page.</p>
 
<p>This site goes through our journey and will hopefully give readers a better understanding of what it takes to build your own P2P network.</p>

<p>[INSERT GRAPHIC HERE]</p>