<h3>Node Communications</h3>
<p>There are four primitive remote procedure calls that Kademlia nodes send and respond to.</p>

<h4>PING</h4>
<p>Much like an ICMP Ping, this is used to verify that another node is still alive.</p>

<h4>FIND NODE</h4>
<p>This RPC is sent with a specific node ID to be found. The recipient of this RPC looks in its own routing table and returns a set of contacts that are closest to the ID that is being looked up.</p>

<h4>FIND VALUE</h4>
<p>This RPC is send with a specific file ID to be located. If the receiving node finds this ID in its own DHT segment, it will return the corresponding value (URL). If not, the recipient node returns a list of contacts that are closest to the file ID.</p>

<h4>STORE</h4>
<p>This RPC is used to store a key/value pair (file_id/location) into the DHT segment of the recipient node.</p>
<p>Upon each successful RPC, both the sending and receiving node insert or update each other’s contact info in their own routing tables.</p>

<h3>Finding Peers and Files</h3>
<p>How does a node find other nodes or files in a Kademlia network? We can compare this to a real life example.</p>
<p>If a person wants to find another person they don't know, they might take the following steps:</p>

<ol>
  <li>They could ask their friends who are <b>more related to</b> the target person. Perhaps these friends work in the same industry or live in the same city as the target.</li>
  <li>If one of these friends knows the target, that friend can provide the target's contact info, and the lookup is complete.</li>
  <li>If these friends don't know the target, they could each instead provide contact information for other people who are even closer to the target.</li>
  <li>This new set of contacts can then be queried, and the process is repeated until the target is found, or the until a some failure condition is reached.</li>
</ol>

<p>Kademlia nodes follow a similar pattern when conducting lookups.</p>

<p>If a node is to retreive a piece of information (a file) from the network, it will send FIND VALUE RPCs to a subset of its own contacts whose IDs are 'closest' to the ID of the file it is looking for.  If any of the recipient nodes have this ID in their DHT segement, they will return the corresponding value, otherwise, they will return a list of contacts that are even closer to the value being queried.</p>

<p>The next problem to discuss is how 'closeness' is determined in a Kademlia network.</p>

<h3>Calculating Closeness</h3>

<p>Kademlia defines the distance between nodes as the bitwise exclusive or (XOR) of the nodes' IDs. The xor operation compares two inputs: If these inputs are the same, the result is false(0), if they inputs are different, the result is true(1).  The XOR of two numbers is calculated by finding the XOR of each bit in the binary representation of those two numbers.</p>

<p>As an example, the diagram below assumes node id of 11 in a 4 bit key space (only 0-15 are possible). We calculate the XOR of 11 with a few other IDs to demonstrate the concept.</p>

<img src="public/images/xor_distance.png" alt="XOR distance">

<p>In the first case, we calculate 11 XOR 10.  The first three bits in both IDs are same, and only the last bit is different. The result of 11 XOR 10 = 1</p>

<p>Next we calculate 11 XOR 12. Here, only the first bit is the same, all others are different. The result of 11 XOR 12 is 111 in binary, or 7 in decimal.</p>
<p>Our last example we calculate 11 XOR 4. Here all bits are different, resulting in 1111 binary, 15 in decimal.</p>

<p>From these results you'll notice a important feature of a Kademlia's XOR metric:  If the binary representation of a node’s id shares a <b>larger common pre-fix</b> with the current node, the resulting XOR is smaller.</p>


<h3>Kademlia network and routing table</h3>

<p>Each node in the Kademlia can be thought of as a leaf in a binary tree. Below we map out all possible IDs in a 4 bit keyspace: 0-15, each left child adds a '0' at the bit corresponding to that child's depth, each right child adds a '1'.</p>
<img src="public/images/kademlia_network_structure.png" alt="Tree structure of the network">

<p>The most important feature of a binary tree related to a Kademlia network is the O(log n) lookup time. If we want to look up a node or file in this network, it is a very efficient procedure.</p>

<p>As mentioned earlier - a routing table groups contacts into buckets, each bucket containing contacts of a certain distance. That distance is 'shared bit length', which is obtained by calculating the XOR of the contact's ID with the current node's id.</p>

<p>Below we see how those buckets would be organized in a node whose ID is 11 in a 4 bit keyspace.  Nodes whose IDs share a 3 bit prefix with the current node go in one bucket, 2 shared bits: a different bucket, etc.</p>
<img src="public/images/kademlia_routing_table_in_tree.png" alt="Categorized of contacts in tree">

<!-- <h3>Xor Distance Code Examples</h3>

<p>Now we have the basic understanding of how closeness is determined, we can show how we implement distance and shared bit length in Ruby.</p>
<p>In ruby, we can easily calculate xor by using caret symbol, like first method shows in the code snippet</p>
<p>Second method is how we implement the shared prefix length to determine distance between two node.</p>
<p>Calculate the distance using method xor_distance, and determine the shared prefix length by subtract the bit-length to the length of string of the xor result in base2, remember the example we have before, distance of 11 and 10 in bit-length is 4 is 0001, which is 1, stringify in base 2 give us ‘1’ with leading 0 will be trimmed,  size of the string ‘1’ is 1, give use 4 - 1 = 3</p>
<p>Last code snippet is the test case with many different situations, include shared bit-length range from 160 to 0</p>
<img src="public/images/xor_code_example.png" alt="XOR distance code example"> -->
